
    <head>
        <title>Sign up</title>
        
<<<<<<<< HEAD:view/forget.php
        <link rel="stylesheet" href="./css/cssA/forget.css">
========
        <link rel="stylesheet" href="css/cssA/forget.css">
>>>>>>>> ef1f315c87d5355e88447278e00d2fd67af5e865:view/forget.html
        
    </head>
    <body>
        <div class="form-container sign-in-container">
            <form action="#">
                <h1>Forget Password</h1>
                <span>Enter your email to reset your password</span>
                <input type="email" placeholder="Email" />
<<<<<<<< HEAD:view/forget.php
                <a href="login.php">don't have an account?</a>
========
                <a href="login.html">don't have an account?</a>
>>>>>>>> ef1f315c87d5355e88447278e00d2fd67af5e865:view/forget.html
                <button>Submit</button>
            </form>
        </div>
    </body>